.auth-button {
    margin-left: 20%;
    margin-right: 20%;
    padding-top: .5vw;
    padding-bottom: .5vw;
    padding-right: 2vw;
    padding-left: 2vw;
    font-size: 20px;
    border-radius: 50px;
    border: none;
    color: #E9E8E8;
    background-image: linear-gradient(to right top, #6c5d8b, #62709e, #5a83aa, #5995b1, #63a5b4, #56b3ba, #4dc0bb, #51cdb5, #2ddba9, #1be794, #39f275, #61fb47);
    background-size: 400%;
    transition: 0.5s;
    box-shadow: 3px 3px 3px #02011b;
    ;
}

.auth-button:hover {
    cursor: pointer;
    transition: 0.5s;
    text-decoration: none;
    scale: 1.1;
}
.blank-button {
    background-color: transparent;
    border: transparent;
  }
  
  .blank-button:hover {
    cursor: pointer;
    transition: 0.5s;
    text-decoration: none;
    scale: 1.1;
  }